@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

:root{
  --Mukta: 'Mukta', sans-serif;
  
  --luxblue: #13265C;
  --deepchampagne: #ECD9A3;
  --goldenbrown: #5C4913;
  --softblue: #A1A8BE;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  position: fixed;
  width: 100%;
  background-image: url("images/pociag.png");
  background-size: cover;
  font-family: 'Mukta', sans-serif;
  margin: 0 auto;
  margin-bottom: 65px;
}

header {
  font-family: var(--Mukta);
  font-weight: bold;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  height: 100px;
  margin-bottom: 70px;
}

.float-container {
  display: grid;
  grid-template-columns: 10% 65% 5% 20%;
  grid-gap: 20px;
  align-items: center;
  text-align: center;
  background-color: var(--luxblue);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.float-container a:link {
  text-decoration: none;
  color: var(--softblue);
}

.float-container a:visited {
  text-decoration: none;
  color: var(--softblue);
}

.float-child1 img {
  width: 50px;
  margin-top: 10px;
  border-radius: 50%;
}

.float-child3 {
  width: 70px;
}

.float-child3 a:link {
  color: var(--softblue);
  text-decoration: none;
}

.float-child3 a:hover {
  color: whitesmoke;
}

.float-child4 img {
  width: 50px;
  margin-top: 10px;
  border-radius: 50%;
}

h1 {
  font-size: 25px;
}

main {
  height: 500px;
  margin: 0 auto;
  width: 800px;
  background-color: #E7E9EF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
article {
  height: 100%;
}

legend {
  font-weight: bold;
  display:block;
  margin: auto;
}

  /*
  ========================================
  Clearfix
  ========================================
*/

.wrapper:before,
.wrapper:after {
  content: "";
}
.wrapper:after {
  clear: both;
}

.wrapper {
  clear: both;
  *zoom: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

}

.login {
  float: left;
  width: 30%;
  margin: 30px;
  padding: 15px;
  background-color: #B8BECE;
  box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
}

.register {
  float: right;
  width: 60%;
  margin: 30px;
  padding: 15px; 
  background-color: #B8BECE;
  box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
}

input:not([type="submit"]){
  padding: 12px 20px;
  box-sizing: border-box;
  border: 0;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display:block;
  margin: auto;
}

fieldset {
  border: 0;
}

.btn {
  padding: 10px;
  background-color: #293863;
  color: whitesmoke;
  font-weight: bold;
  border: 0;
  box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
  display: block;
  margin: 0 auto; 
  margin-top: 20px;
}

input.btn[type=submit]:hover {
background-color: #5A678D;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-left: 1%;
  line-height: 1;
  background-color: whitesmoke;
  opacity: 0.75;
  box-shadow: rgba(100, 100, 111, 0.2) 15px 7px 29px 0px;
}
    
.footer2  p  a  {
  text-decoration: none;
  color: var(--luxblue);
}

@media screen and (max-height: 750px){
  footer{
    display: none; 
  }
}